header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

main {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #34495e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.flag-image {
    width: 200px;
    height: 133px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.card {
    background-color: rgb(158, 154, 154);
    text-align: center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-button {
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #2c3e50;
}
a.show-details-link {
    color: transparent; 
    text-decoration: none; 
}
.show-details-link {
    display: none;
}
